body {
  color: azure;
  background-color: black;
  text-align: center;
  background-image: url(lip.jfif);
  background-size: cover;
}
#txt-input {
  width: 30%;
  height: 10vh;
  display: block;
  margin: 40px auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}
#output {
  border: 1px solid black;
  height: 10vh;
  width: 30%;
  margin: 40px auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
